@model IEnumerable<LapinCouvert.Models.SuggestedProduct>

@{
    ViewData["Title"] = "Liste";
}

<h1>Liste</h1>

<p>
    <a asp-action="Create">Créer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
	            @Html.DisplayNameFor(model => model.FinishDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if(item.Photo != null)
            {
	            <td><img style="height:50px; width:auto" src="@item.Photo" alt="@item.Name" /></td>
            }
            else
            {
	            <td><img style="height:50px; width:auto" src="~/images/default_image.jpg" alt="@item.Name" /></td>
            }
            <td>
	            @item.FinishDate.ToString("dd MMMM yyyy HH:mm:ss", new System.Globalization.CultureInfo("fr-CA"))
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
